section {
  display: grid;
  gap: 50px;
  grid-template-columns: 200px 200px 200px 200px 200px;
}

section div {
  height: 200px;
  text-align: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
